:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #fffa400;
}

body {
    font-family: "Oswald", sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}
.text-bright {
    color: var(--lightBlue);
}
.card {
    width: 18.6em;
}

.card-body {
    border: 0.1em solid black;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.input-box {
    border: white 0.2em solid;
    border-radius: 0.1em;
    padding-left: 0.4em;
}

.search-bar:active,
.search-bar:focus {
    border: var(--lightBlue) 0.2em solid;
}
